.container{
    height: 15%;
    width: 80%;
    background-color: aqua;
    display: flex;
    gap: 40px;
    justify-content: end;
    align-items: center;
}
.profile{
    display: flex;
    align-items: center;
    gap: 10px;
    margin-right: 10px ;
}
.pic{
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: 1px solid black;
    background-color: grey;
}